<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BN Semijoias</title>

    <!-- FavIcon-->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <!-- Bootstrap CSS -->
   
    <script src="https://cdn.tailwindcss.com"></script>


</head>


<body>


    <section>

        <nav class=" ">
            
           
<div class="fixed h-screen min-w- w-32 left-0 flex flex-col bg-zinc-100 rounded-tr-3xl rounded-br-3xl">
    <h1 class="italic font-semibold text-base ml-2">Menu</h1>    
    <ul class="flex  flex-col ">

        <li class="mt-10 p-2 rounded-2xl cursor-pointer text-black
                     hover:bg-violet-950 hover:text-white hover:rounded-xl 
                     transition-all duration-500 ease-linear">
                    <a id="InsertTab" class="flex " href="#Insert">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-upload" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                        </svg> -->
                    <span class="ml-1 font-semibold text-sm ">
                        Inserir
                    </span>
                    </a>
                </li>

                <li
                    class=" p-2 rounded-2xl bg-slate-200 text-violet-700
                     hover:bg-violet-900 hover:text-white hover:rounded-xl 
                     transition-all duration-500 ease-linear">

                    <a id="DeleteTab" href="#Delete">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-trash2" viewBox="0 0 16 16">
                            <path
                                d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z" />
                        </svg> -->
                        <span class="ml-1 italic">
                            Deletar
                        </span>
                    </a>
                </li>

                <li
                    class="p-2 rounded-2xl bg-slate-200 text-violet-700 hover:bg-violet-900 hover:text-white hover:rounded-xl transition-all duration-500 ease-linear">
                    <a id="SearchTab" href="#Search">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-search-heart" viewBox="0 0 16 16">
                            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
                            <path
                                d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z" />
                        </svg> -->
                        <span class="ml-1 italic">
                            Consultar
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        </nav>

            <div class="Data_changer flex flex-col ml-36 gap-2 ">

                <div class="flex flex-col border-2 border-opacity-5 rounded-md border-neutral-900 mt-3 " id="Insert" aria-labelledby="InsertTab">
                    <h3 class="bg-gradient-to-br from-pink-400 from-10% to-pink-500 w-max px-4 py-1 font-semibold  rounded-full text-center  text-white text-lg">Inserir Produtos</h3>
                    <form action="UploadProduct" method="post" class="flex flex-col gap-1">



                        <div class="form-item grid grid-cols-12 mt-1">
                            <label class="ml-2 col-span-1 flex justify-start flex-none"for="">Nome</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="nome">
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Descricao</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="descricao">
                        
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Preco</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md"  type="text" name="preco">
                        
                        </div>

                        <div class="form-item  grid grid-cols-12"">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Categoria </label>
                            <input type="text" name="categoria" class="w-full col-span-11 border-black border-opacity-10 rounded-md">
                        
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Tipo</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="Tipo">
                        
                        </div>

                        <div class="form-item grid place-items-center">

                            <button type="submit">Enviar</button>
                        
                        </div>

                    </form>
                </div>









                <div class="flex flex-col border-2 border-opacity-5 rounded-md border-neutral-900  " id="Insert" aria-labelledby="DeleteTab">
                    <h3 class="bg-gradient-to-br from-pink-400 from-10% to-pink-500 w-max px-4 py-1 font-semibold  rounded-full text-center  text-white text-lg">Deletar Produtos</h3>
                    <form action="DeleteProduct" method="post" class="flex flex-col gap-1">

                     

                        <div class="form-item grid grid-cols-12 mt-1">
                            <label class="ml-2 col-span-1 flex justify-start flex-none"for="">Nome</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="nome">
                        </div>

                        <div class="form-item grid place-items-center">

                            <button type="submit">Enviar</button>
                        
                        </div>

                    </form>
                </div>



     

             
                            
                <div class="flex flex-col border-2 border-opacity-5 rounded-md border-neutral-900  " id="Insert" aria-labelledby="InsertTab">
                    <h3 class="bg-gradient-to-br from-pink-400 from-10% to-pink-500 w-max px-4 py-1 font-semibold  rounded-full text-center  text-white text-lg">Procurar Produtos</h3>

                    <form action="UploadProduct" method="post" class="flex flex-col gap-1">
                        <div class="form-item grid grid-cols-12 mt-1">
                            <label class="ml-2 col-span-1 flex justify-start flex-none"for="">Nome</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="nome">
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Descricao</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="descricao">
                        
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Preco</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md"  type="text" name="preco">
                        
                        </div>

                        <div class="form-item  grid grid-cols-12"">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Categoria </label>
                            <input type="text" name="categoria" class="w-full col-span-11 border-black border-opacity-10 rounded-md">
                        
                        </div>

                        <div class="form-item grid grid-cols-12">

                            <label class="ml-2 col-span-1 flex justify-start flex-none" for="">Tipo</label>
                            <input class="w-full col-span-11 border-black border-opacity-10 rounded-md" type="text" name="Tipo">
                        
                        </div>

                        <div class="form-item grid place-items-center">

                            <button type="submit">Procurar</button>
                        
                        </div>

                    </form>
                </div>


            </div>
    </section>



   
</body>

</html>